
.featured{
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap:40px;
    z-index: -1;
}
.featuredItem{
    position: relative;
   
}
.featuredTitles{
    position: absolute;
    bottom:5px;
    left:5px;
    color: white;
}
.featuredImg{
    height: 300px;
}